 /* :root {} */
 body[data-theme="dark"] {
   --color-primary: #0E0F10;
   --color-heading: #D3DBDE;
   --color-text: #A1A7AA;
   --color-blue: #177cff;
 }

 body[data-theme="light"] {
   --color-primary: #DFE8EC;
   --color-heading: #002233;
   --color-text: #365463;

   --color-blue: #177cff;
 }

 body {

   --shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
 }



 .row {
   padding: 0;
   margin: 0;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 ul,
 p {
   padding: 0;
   margin: 0;
   list-style: none;
 }

 a {
   text-decoration: none;
   color: var(--text-black);
 }


 h2 {
   font-size: 4.4rem;
   line-height: 1.5em;
 }

 h4 {
   font-size: 3.5rem !important;
   line-height: 1.5em;
 }

 h5 {
   font-size: 2.4rem !important;
   line-height: 1.5em;
 }

 h6 {
   font-size: 2rem;
   line-height: 1.5em;
 }

 .containerX {
   --containerX: 12rem;
   margin: 0 var(--containerX);
 }

 .colorHeading {
   color: var(--color-heading)
 }

 .colorPrimary {
   color: var(--color-primary);

 }

 img {
   max-height: 100%;
   max-width: 100%;
 }

 .modeIcon {
   cursor: pointer;
   display: flex;
   color: var(--color-heading);
   font-size: 2.4rem;
 }

 .sec-margin {
   margin-top: 6rem;
 }

 .mb50 {
   margin: 20rem 0 5rem 0;
 }

 /* Navbar */
 header {
   background-color: var(--color-primary);
   box-shadow: var(--shadow);
   height: 7rem;
   display: grid;
   align-items: center;
   position: sticky;
   top: 0;
   z-index: 100;
 }

 .navlogo {
   display: flex;
   align-items: center;
 }

 .navlogo img {
   max-width: 10rem;
 }



 .navbar {
   display: flex;
   /* align-items: center; */
   justify-content: space-between;
 }

 .nav-ul {
   display: flex;
   align-items: center;
 }

 .nav-item {
   padding: 0 2rem;
 }

 .navlink {
   font-weight: 500;
   transition: 0.3s;
 }

 .navlink.active,
 .navlink:hover {
   color: var(--color-blue);
 }


 /* Home Main-Banner */


 .main-banner {
   margin: 4rem 0;
   display: grid;
   align-content: center;
 }

 .main-banner .rightImage svg {
   mix-blend-mode: difference;
   max-height: 80vh;
   width: auto;
 }

 .main-banner .main-text {
   color: var(--color-heading);
 }

 .main-banner .ShopNow_btn {
   background-color: var(--color-heading);
   color: var(--color-primary);
   padding: 1rem 2rem;
   border: 1px solid var(--color-heading);
   border-radius: 10px;
 }

 .main-banner .ShopNow_btn:hover {
   background-color: var(--color-primary);
   color: var(--color-heading);
 }

 /* Our Top Categories */
 .topCategories {
   background-color: var(--color-heading);
   padding: 2rem 0;
 }


 .headingText::after {
   content: "";
   position: absolute;
   top: 100%;
   right: 0;
   height: 4px;
   width: 180px;
   background-color: var(--color-blue);
   border-radius: 10px;
 }

 .categorySlider {
   margin-top: 4rem;
   height: 7rem;
   text-align: center;
 }

 .categorySlider:has(h2) {
   display: flex;
   align-items: center;
   justify-content: center;
   color: var(--color-primary);
 }

 .category_item {
   border: 1px solid var(--color-primary);
   color: var(--color-primary);
   border-radius: 5px;
   height: 7rem;
   display: grid;
   place-items: center;
   font-size: 2.6rem;
   padding: 0 4rem;
 }

 /* End Our Top Categories  */
 /* Our Featured Product */


 .categorySlider .splide__slide {
   width: auto !important;
 }

 .featureCard_Ul {
   grid-template-columns: repeat(3, 1fr);
   gap: 10rem;
   margin-top: 4rem;
 }



 .featureCard_Ul .card-item p {
   text-align: center;
   padding: 1rem 0;
   background-color: var(--color-text);
   color: var(--color-primary);
 }

 /* Discount banner */

 /* Talk to us */
 .TalkToUs h2 {
   font-size: 5rem !important;
   font-weight: 900;
   letter-spacing: 2px;
 }

 .TalkToUs .makeInquiry {
   background-color: var(--color-heading);
   color: var(--color-primary);
   padding: 1rem 2rem;
   border: 1px solid var(--color-heading);
   border-radius: 10px;
 }

 .TalkToUs .makeInquiry:hover {
   background-color: var(--color-primary);
   color: var(--color-heading);
 }



 /* Footer */
 .FooterSec {
   background-color: var(--color-heading);
   padding: 6rem 0;
 }

 .FooterSec h2 {
   font-size: 6rem;
 }

 .socialTEXT {
   font-weight: 500;
 }




 /* Commando - hotstar */
 /* heart Of Stone */