 /* :root {} */
 body[data-theme="dark"] {
   --color-primary: #0E0F10;
   --color-heading: #D3DBDE;
   --color-text: #A1A7AA;
   --color-blue: #177cff;
 }

 body[data-theme="light"] {
   --color-primary: #DFE8EC;
   --color-heading: #002233;
   --color-text: #365463;

   --color-blue: #177cff;
 }

 body {

   --shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
 }



 .row {
   padding: 0;
   margin: 0;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 ul,
 p {
   padding: 0;
   margin: 0;
   list-style: none;
 }

 a {
   text-decoration: none;
   color: var(--text-black);
 }


 h2 {
   font-size: 4.4rem;
   line-height: 1.5em;
 }

 h4 {
   font-size: 3.5rem !important;
   line-height: 1.5em;
 }

 h5 {
   font-size: 2.4rem !important;
   line-height: 1.5em;
 }

 h6 {
   font-size: 2rem;
   line-height: 1.5em;
 }

 .containerX {
   --containerX: 12rem;
   margin: 0 var(--containerX);
 }

 .colorHeading {
   color: var(--color-heading)
 }

 .colorPrimary {
   color: var(--color-primary);

 }

 img {
   max-height: 100%;
   max-width: 100%;
 }

 .modeIcon {
   cursor: pointer;
   display: flex;
   color: var(--color-heading);
   font-size: 2.4rem;
 }

 .sec-margin {
   margin-top: 6rem;
 }

 .mb50 {
   margin: 20rem 0 5rem 0;
 }

 /* Navbar */
 header {
   background-color: var(--color-primary);
   box-shadow: var(--shadow);
   height: 7rem;
   display: grid;
   align-items: center;
   position: sticky;
   top: 0;
   z-index: 100;
 }

 .navlogo {
   display: flex;
   align-items: center;
 }

 .navlogo img {
   max-width: 10rem;
 }



 .navbar {
   display: flex;
   /* align-items: center; */
   justify-content: space-between;
 }

 .nav-ul {
   display: flex;
   align-items: center;
 }

 .nav-item {
   padding: 0 2rem;
 }

 .navlink {
   font-weight: 500;
   transition: 0.3s;
 }

 .navlink.active,
 .navlink:hover {
   color: var(--color-blue);
 }


 /* Home Main-Banner */


 .main-banner {
   margin: 4rem 0;
   display: grid;
   align-content: center;
 }

 .main-banner .rightImage svg {
   mix-blend-mode: difference;
   max-height: 80vh;
   width: auto;
 }

 .main-banner .main-text {
   color: var(--color-heading);
 }

 .main-banner .ShopNow_btn {
   background-color: var(--color-heading);
   color: var(--color-primary);
   padding: 1rem 2rem;
   border: 1px solid var(--color-heading);
   border-radius: 10px;
 }

 .main-banner .ShopNow_btn:hover {
   background-color: var(--color-primary);
   color: var(--color-heading);
 }

 /* Our Top Categories */
 .topCategories {
   background-color: var(--color-heading);
   padding: 2rem 0;
 }


 .headingText::after {
   content: "";
   position: absolute;
   top: 100%;
   right: 0;
   height: 4px;
   width: 180px;
   background-color: var(--color-blue);
   border-radius: 10px;
 }

 .categorySlider {
   margin-top: 4rem;
   height: 7rem;
   text-align: center;
 }

 .categorySlider:has(h2) {
   display: flex;
   align-items: center;
   justify-content: center;
   color: var(--color-primary);
 }

 .category_item {
   border: 1px solid var(--color-primary);
   color: var(--color-primary);
   border-radius: 5px;
   height: 7rem;
   display: grid;
   place-items: center;
   font-size: 2.6rem;
   padding: 0 4rem;
 }

 /* End Our Top Categories  */
 /* Our Featured Product */


 .categorySlider .splide__slide {
   width: auto !important;
 }

 .featureCard_Ul {
   grid-template-columns: repeat(3, 1fr);
   gap: 10rem;
   margin-top: 4rem;
 }



 .featureCard_Ul .card-item p {
   text-align: center;
   padding: 1rem 0;
   background-color: var(--color-text);
   color: var(--color-primary);
 }

 /* Discount banner */

 /* Talk to us */
 .TalkToUs h2 {
   font-size: 5rem !important;
   font-weight: 900;
   letter-spacing: 2px;
 }

 .TalkToUs .makeInquiry {
   background-color: var(--color-heading);
   color: var(--color-primary);
   padding: 1rem 2rem;
   border: 1px solid var(--color-heading);
   border-radius: 10px;
 }

 .TalkToUs .makeInquiry:hover {
   background-color: var(--color-primary);
   color: var(--color-heading);
 }



 /* Footer */
 .FooterSec {
   background-color: var(--color-heading);
   padding: 6rem 0;
 }

 .FooterSec h2 {
   font-size: 6rem;
 }

 .socialTEXT {
   font-weight: 500;
 }


 /* Products */
 .ProductGroup {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 4rem;
   margin-bottom: 4rem;
 }

 .ProductItem {
   border-radius: 10px;
   /* padding: 1rem; */
   border: 1px solid var(--color-heading);
   /* background-color: #1d1d1d; */
   overflow: hidden;
 }



 .ProductItem img {
   height: 30rem;
   object-fit: cover;
   width: 100%;
 }

 .namePrice {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 20px;
   align-items: center;
 }

 .line_1 {
   display: -webkit-box;
   -webkit-line-clamp: 1;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
 }

 .description {
   padding: 1rem;
 }


 /* Filter_Acc */
 .Filter_Acc .accordion-item {
   background-color: transparent;
   border: 1px solid var(--color-text);
   border-radius: 5px;
 }

 .Filter_Acc .accordion-button {
   box-shadow: none;
   color: var(--color-heading);
   background-color: transparent;
 }

 .Filter_Acc .accordion-button:not(.collapsed) {
   color: var(--color-primary);
   background-color: var(--color-text);
 }

 .Filter_Acc .accordion-button .arrow {
   position: absolute;
   top: 50%;
   right: 10px;
   transform: translateY(-50%);
 }

 .Filter_Acc .accordion-button:not(.collapsed) .arrow {
   transform: translateY(-50%) rotate(-180deg);
 }

 .Filter_Acc .accordion-button:not(.collapsed)::after {
   display: none;
 }

 .Filter_Acc .accordion-body {
   max-height: 300px;
   overflow-y: auto;
 }

 .Filter_Acc .filter_Item .form-check-input {
   background-color: transparent;
   border-color: var(--color-text);
   mix-blend-mode: difference;
   border-radius: 4px;
 }

 .Filter_Acc .filter_Item .form-check-label {
   color: var(--color-text);
 }



 .Filter_Acc .form-check-input:checked[type=radio] {
   --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 20 20%27%3e%3cpath fill=%27none%27 stroke=%27%23fff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%273%27 d=%27m6 10 3 3 6-6%27/%3e%3c/svg%3e");
 }

 .clrFilter_btn {
   background-color: var(--color-heading);
   color: var(--color-primary);
   padding: 0.5rem 2rem;
   font-size: 2rem
 }

 .clrFilter_btn:hover {
   border-color: var(--color-heading);
   color: var(--color-heading);
 }

 .SearchSort {
   display: grid;

   gap: 20px;
 }

 #searchBar input {
   border: 1px solid var(--color-text);
   border-radius: 5px;
   width: 100%;
   height: 4rem;
   outline: none;
   padding: 0 5rem 0 2rem;
   background-color: transparent;
   color: var(--color-text);
 }

 #searchBar .search {
   position: absolute;
   top: 50%;
   right: 1.5rem;
   transform: translateY(-50%);
 }

 #sort_select {
   border: 1px solid var(--color-text);
   border-radius: 5px;
   font-size: 1.5rem;
   height: 4rem;
   outline: none;
   background-color: transparent;
   color: var(--color-text);
 }

 .productSort {
   display: grid;
   grid-template-columns: auto 18rem;
 }

 .FilterWrapper {
   position: sticky;
   top: 9rem;
 }

 .main_image {
   border: 1px solid var(--color-heading);
   text-align: center;
 }



 .proRow {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 4rem;
 }

 .proRow .price {
   font-size: 3rem;
 }

 .proRow .star {
   color: #ff8f00;
 }

 .proRow .counter {
   background-color: var(--color-heading);
   font-size: 3rem;
   font-weight: 500;
 }

 .proRow .counter span {
   width: 100px;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   color: var(--color-primary);
   height: 50px;
 }

 .proRow .counter button {
   border: 0;
   background-color: var(--color-text);
   width: 50px;
   height: 50px;
   transition: 0.3s;
 }

 .proRow .counter button:hover {
   background-color: var(--color-blue);
 }

 .proRow .AddToCart {
   background-color: var(--color-heading);
   border: 1px solid var(--color-heading);
   color: var(--color-primary);
   font-size: 2rem;
   border-radius: 5px;
   padding: 0.8rem 2rem;
   font-weight: 500;
 }

 .proRow .AddToCart:hover {
   background-color: transparent;
   color: var(--color-heading);
 }

 /* Cart */

 .cartProductGroup {
   display: grid;
   gap: 20px;
 }

 .proUl {
   display: grid;
   grid-template-columns: 20rem auto;
   gap: 20px;
   align-items: center;
   border: 1px solid #a5a5a5;
   border-radius: 10px;
   overflow: hidden;
   padding: 10px;
   position: relative;
 }

 .proUl .wrapper {
   display: grid;
   grid-template-columns: auto 10rem;
   gap: 20px;
   align-items: center;
 }

 .proUl .Item {
   display: grid;
   gap: 8px;
 }

 .imgBox {
   width: 20rem;
   aspect-ratio: 1;
   overflow: hidden;
   border-radius: 10px;
   border: 1px solid #a5a5a5;
 }

 .imgBox img {
   width: 100%;
   height: 100%;
   object-fit: cover;
 }

 .proUl .Fields {
   display: grid;
   grid-template-columns: 155px auto;
   gap: 10px;
 }

 .deleteBtn {
   width: 5rem;
   aspect-ratio: 1;
   overflow: hidden;
   font-size: 3rem;
   color: var(--color-heading);
   padding: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   border-color: var(--color-heading) !important;
 }

 .deleteBtn:active,
 .deleteBtn:hover {
   border-color: var(--color-blue) !important;
   background-color: var(--color-blue) !important;
   color: var(--color-heading) !important;
 }

 .proUl .counter {
   border: 1px solid var(--color-heading);
   border-radius: 30px;
   overflow: hidden;
   --wh: 35px;
 }

 .proUl .counter span {
   width: 80px;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   color: var(--color-heading);
   height: var(--wh);
 }

 .proUl .counter button {
   border: 0;
   background-color: var(--color-heading);
   width: var(--wh);
   height: var(--wh);
   transition: 0.3s;
   color: var(--color-primary);
 }

 .proUl .counter button:hover {
   background-color: var(--color-blue);
 }

 .CartItemComponent hr {
   margin: 5rem 0;
   opacity: 1;
   background-color: var(--color-text);
 }

 /* .BillUl {
   display: grid;
   gap: 15px;
 } */

 .BillUl .item {
   display: grid;
   grid-template-columns: auto 200px;
   gap: 2rem;
   padding: 15px 5px 10px 5px;
   text-align: end;
   color: var(--color-text);
 }

 .BillUl .grandTotal {
   border-top: 1px solid #a8a8a880;
   font-size: 2.5rem;
   color: var(--color-heading);
 }

 .checkoutBtn {
   font-size: 2.5rem;
   color: var(--color-primary);
   background-color: var(--color-heading);
   border: 1px solid var(--color-heading);
   padding: 1rem 2rem;
   font-weight: 500;
   letter-spacing: 1px;
 }

 .checkoutBtn:hover {
   border-color: var(--color-heading);
   color: var(--color-heading);
 }

 /* Commando - hotstar */
 /* heart Of Stone */